@import '../variables';

.header_logo {
  .arrow {
    height: 40px;
    width: 40px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
    padding: 10px;
    background-color: #e5e7eb;
    margin-left: 69px;
  }
}
